meta(name='viewport', content='width=device-width,initial-scale = 1,minimum-scale = 1,maximum-scale = 1,user-scalable =yes ')
html
  head
    style.
      body{ margin : 0px; padding : 0px; width:100%; height:100%;
      background-color:#000000; } #player{ margin : 0px; padding : 0px;
      width:100%; height:100%; }
  body
    #player
  script(src='/javascripts/yt-player.js')
  script.
  	ytPlaylist = #{listArray};